
/*Formatting for header div*/
#header {
  border-radius: 15px;
  background: #2b425e;
  /* padding: 20px;  */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000; 
}

/*Formatting for header text*/
#page-title {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;   
    color: white;
    font: verdana;
    font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

/*Formatting for greeting div*/
#greeting {
  border-radius: 15px;
  background: #2b425e;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  height: 1000px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;

  color: white;
  font: verdana;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

/*Formatting for div where users submit comments*/
#submit-comment {
  border-radius: 15px;
  background: #2b425e;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  height: 400px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;

  color: white;
  font: verdana;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

/*Container for greeting from me*/
#quote-container {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    padding-bottom: 20px; 
    margin-top: 20px;
    float: left;
}

/*Container for displaying username*/
#username {
    font-weight: bold;
    color: #e2a34b;
}

#categories-list {
  border-radius: 15px;
  background: #2b425e;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  height: 400px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;

  color: white;
  font: verdana;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

/*Class to describe buttons*/
.button {
  background-color: #e4e8c1;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*Change background color to off-white*/
body {
    background-color: #e4e8c1;
}