/*Formatting for header div*/
#header {
  border-radius: 15px;
  background: #2b425e;
  /* padding: 20px;  */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000; 
}

/*Formatting for header text*/
#page-title {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;   
    color: white;
    font: verdana;
    font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

/*Formatting for greeting div*/
#message-section{
  border-radius: 15px;
  background: #2b425e;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  height: 1000px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;

  color: white;
  font: verdana;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

/*Formatting for div where users submit comments*/
#submit-comment {
  border-radius: 15px;
  background: #2b425e;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  height: 400px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;

  color: white;
  font: verdana;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

#chat-categories, #number-checked-off, #submit-group-names {
  border-radius: 15px;
  background: #2b425e;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 7%;
  height: 45px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

#number-checked-off {
    height: 120px;
    width: 500px;
    color: white;
    font: verdana;
    font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

/* #submit-group-names {
    height: 50px;
    width: 10px;
} */

/*Container for greeting from me*/
#message-container {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 20px; 
    margin-top: 20px;
    float: left;
}

/*Container for displaying username*/
#username {
    font-weight: bold;
    color: #e2a34b;
}

.table-container {
  border-radius: 15px;
  background: #2b425e;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  height: 390px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  overflow-y: auto;

  color: white;
  font: verdana;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

#names-container {
    height: 450px;
}

#list-of-group-names {
    display: none;
}

#chat-members {
  border-radius: 15px;
  background: #2b425e;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 50%;
  height: 100px; 
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  overflow-y: auto;

  color: white;
  font: verdana;
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

/*Class for tables*/
.list-table {
    table-layout:fixed;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 250%;
    border-collapse: collapse;
    width: 100%;
}

.list-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.list-table tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.chat-member-list-element {
    list-style: none; 
    font-size: 150%; 
    font-weight: bold;
}

/*Class to describe buttons*/
.button {
  background-color: #e4e8c1;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*Change background color to off-white*/
body {
    background-color: #e4e8c1;
}


/*  ARIELS CSS BELOW  */
/*
h1 {
    border-bottom: 5px solid black;
    font-size: 500%;
}
div, input{
    font-family: "Gill Sans", sans-serif;
    font-size: 27pt;
}
question{
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
}
button, a{
    font-size: 18pt;
}
option{
    font-size: 24pt;
}
select{
    font-size: 27pt;
    width: 410px;
}
li{
    font-size: 25px;
}
singleQuestion{
    font-family: "Gill Sans", sans-serif;
    font-size: 16pt;
}*/